<!-- Modal -->
<div class="modal fade" id="modalWarehouse" tabindex="-1" role="dialog" aria-labelledby="modalWarehouseLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-warehouse-title"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body-warehouse modal-body" id="modal-body-warehouse">

      </div>
      <div class="modal-footer" id="modal-footer-warehouse">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>